header.header
    .container__space-between
        .social
            ul.social__list
                li.social__item.facebook
                    i.fa.fa-facebook-square
                li.social__item.github
                    i.fa.fa-github
                li.social__item.linkedin
                    i.fa.fa-linkedin
        include nav.pug
    .container__center
        .avatar
            .avatar__picture
                img(src="assets/img/ava.jpg")
            .avatar__name Alexey Nelipovich
            .avatar__description Web developer personal website
    include triangles.pug


