main.main__works
    section.section-name
        +dashed-title('My Works', 'color-font-black', 'fz63')
    section.work
        .work__desc
            .work__desc__wrapper
                +dashed-title('Online education school Website', 'color-font-darkgray', 'fz35')
                .work__desc__skills HTML, CSS, Javascript
                a(href= "").work__desc__button
                    i.fa.fa-link
                    span.work__desc__button__text Review site
        .slider__big
            .slider__display__big
                ul.slider__list__big
                    li.slider__item__big.active
                        img(src= "./assets/img/work-1.png")
                    li.slider__item__big
                        img(src='./assets/img/work-2.png')
                    li.slider__item__big
                        img(src='./assets/img/work-3.png')
                    li.slider__item__big
                        img(src='./assets/img/work-4.png')
        .slider__smalls
            .slider__small
                .slider__display__small
                    ul.slider__list__small
                        li.slider__item__small
                            img(src='./assets/img/work-1.png')
                        li.slider__item__small
                            img(src='./assets/img/work-2.png')
                        li.slider__item__small
                            img(src='./assets/img/work-3.png')
                        li.slider__item__small.active
                            img(src='./assets/img/work-4.png')
                .slider__arrow-down
                    i.fa.fa-angle-down
            .slider__small.slider__small-oposite
                .slider__display__small
                    ul.slider__list__small
                        li.slider__item__small
                            img(src='./assets/img/work-1.png')
                        li.slider__item__small.active
                            img(src='./assets/img/work-2.png')
                        li.slider__item__small
                            img(src='./assets/img/work-3.png')
                        li.slider__item__small
                            img(src='./assets/img/work-4.png')
                .slider__arrow-up
                    i.fa.fa-angle-up
    section.opinions
        .opinions__section-name
            +dashed-title('What they Say about me', 'color-font-black', 'fz63')
        .quotes
            .quote
                +quote('This guy took a web design training is not somewhere, but in LoftSchool! 2 months only most difficult tests and sleepless nights!','./assets/img/ava-author-dima.jpg','Dmitry Kovalchuk','Loftschool founder')
            .quote
                +quote('This code will withstand any test. Just please, do not load the site on too older browsers!','./assets/img/ava-author-zar.jpg','Zar Zakharov','instructor, lecturer')
        .contact-us
            .contact-us__wrapper
                +dashed-title('Contact me', 'color-font-darkgrey', 'fz35')
                form.contact-us__form(action='script/message.php', method='POST')
                    ul.contact-us__form__list
                        li.contact-us__form__item
                            input(type='text', name='name', placeholder='Name', required='')
                        li.contact-us__form__item
                            input(type='email', name='email', placeholder='E-mail', required='')
                        li.contact-us__form__item
                            textarea(rows='3', name='message', placeholder='Your message', required='')
                    .contact-us__btns
                        button.contact-us__btn.btn-send(type='submit' value="Submit") Send
                        button.contact-us__btn.btn-clear(type='reset' value="Reset") Clear
        .angle-up
            i.fa.fa-angle-up


