main.main__about
    section.who-and-skills
        .who
            .who__title
                +dashed-title('About me', 'color-font-black', 'fz63')
            .who__desc
                .who__desc__img
                    img(src= "./assets/img/ava.jpg")
                .who__desc__title
                    +dashed-title('Who I am', 'color-font-darkgray', 'fz35')
                .who__desc__text
                    p.
                        I am web developer from Minsk. I'm 26 years old.
                        I do modern website and app development. I like work
                        on interesting and modern projects.
                    p.
                        I did this website during online education Loftschool course.
                        A bit later I'm going update my content here.
                        But for now take a look at how here is cool and beautifully.

        .skills
            .skills__title
                +dashed-title('What can I do you for', 'color-font-darkgray', 'fz35')
            .skills__desc.
                I was most attracted Frontend development, but I also familiar with Backend,
                and I can solve not complex Backend tasks.
                But let's order.
            .skill__div
                .skill__div__title Frontend
                ul.skill__div__list
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span HTML5
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span CSS3
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span Javascript & jQuery
            .skill__div
                .skill__div__title Backend
                ul.skill__div__list
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span PHP
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span mySQL
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span Node.js & npm
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span Mongo.db
            .skill__div
                .skill__div__title Workflow
                ul.skill__div__list
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span Git
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span Gulp
                    li.skill__div__item
                        img(src= './assets/img/skill_round.png')
                        span Bower
    section.map-contact
        .contacts
            .contacts__title
            +dashed-title('Contacts', 'color-font-darkgray', 'fz35')
            ul.contacts__list
                li.contacts__item
                    i.fa.fa-skype alexiy_n
                li.contacts__item
                    i.fa.fa-envelope alexii.nnn@gmail.com
                li.contacts__item
                    i.fa.fa-map-marker Minsk, Belarus




