main.main
    section.section-name
        +dashed-title('My Works', 'color-font-black', 'fz63')
    section.work
        .work__desc
            .work__desc__wrapper
                //+dashed-title('Online education school Website', 'color-font-darkgray', 'fz35')
                .work__desc__skills HTML, CSS, Javascript
                .work__desc__show-button Review site
        .work__list
