#toggle.button_container
    span.top
    span.middle
    span.bottom
#overlay.overlay
    nav.nav.overlay-menu
        ul.nav__list
            li.nav__item
                a(href='./works.html') Work
            li.nav__item
                a(href='./blog.html') Blog
            li.nav__item
                a(href='./about.html') About
            li.nav__item
                a(href='./index.html') Log in
