#toggle.button_container
    span.top
    span.middle
    span.bottom
#overlay.overlay
    nav.nav.overlay-menu
        ul.nav__list
            li.nav__item
                a(href='#') Work
            li.nav__item
                a(href='#') Blog
            li.nav__item
                a(href='#') About
            li.nav__item
                a(href='#') Authorization
