block varTriangle
.triangle
    .triangle__wrapper
        .triangle__item
            svg(class= `svg-triangle `+`svg-triangle__color__${tringlesColor}` xmlns='http://www.w3.org/2000/svg', version='1.1', viewbox='0 0 200 100', preserveaspectratio='none')
                polygon(points='0,0 200,100 0,100')
        .triangle__item
            svg(class= `svg-triangle `+`svg-triangle__color__${tringlesColor}` xmlns='http://www.w3.org/2000/svg', version='1.1', viewbox='0 0 200 100', preserveaspectratio='none')
                polygon(points='0,100 200,0 200,100')
    .angle-down
        i.fa.fa-angle-down