block variables

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='/assets/css/app.css')
        script(src='/assets/js/foundation.js' defer)
        script(src='/assets/js/app.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

        title #{title}
    body
        include ./_includes/_mixins.pug
        include ./_includes/header.pug
        block content


        footer.footer
            .conteiner
                .nav-and-social.nav-and-social_footer
                    nav.footer__nav
                        ul.footer__nav__list
                            li.footer__nav__item My works
                            li.footer__nav__item About
                            li.footer__nav__item Blog
                            li.footer__nav__item Authorization
                    .social.social_footer
                        ul.social__list.social__list_footer
                            li.social__item.social__item_footer.vk
                            li.social__item.social__item_footer.github
                            li.social__item.social__item_footer.linkedin
                .footer__desc
                    .footer__desc__from I'm web developer from Minsk and this site was developed during studing at online courses School Loftschool.
                    .footer__desc__copyright © Alexey Nelipovich | All rights reserved