main.main__works
    section.section-name
        +dashed-title('My Works', 'color-font-black', 'fz63')

    include slider-cool

    section.opinions
        .opinions__section-name
            +dashed-title('What they Say about me', 'color-font-black', 'fz63')
        .quotes
            .quote
                +quote('This guy took a web design training is not somewhere, but in LoftSchool! 2 months only most difficult tests and sleepless nights!','./assets/img/ava-author-dima.jpg','Dmitry Kovalchuk','Loftschool founder')
            .quote
                +quote('This code will withstand any test. Just please, do not load the site on too older browsers!','./assets/img/ava-author-zar.jpg','Zar Zakharov','instructor, lecturer')
        .contact-us
            .contact-us__wrapper
                +dashed-title('Contact me', 'color-font-darkgrey', 'fz35')
                form.contact-us__form#contact-us(action='/message', method='POST')
                    ul.contact-us__form__list
                        li.contact-us__form__item
                            input(type='text', name='name', placeholder='Name')
                        li.contact-us__form__item
                            input(type='email', name='email', placeholder='E-mail')
                        li.contact-us__form__item
                            textarea(rows='5', name='message', placeholder='Your message')
                    .contact-us__btns
                        button.contact-us__btn.btn-send(type='submit' form='contact-us' value="Submit") Send
                        button.contact-us__btn.btn-clear(type='reset' value="Reset") Clear
        .angle-up
            i.fa.fa-angle-up


