@import "fonts";
@import "colors";
@import "socials";
@import "media-breakpoints";
//@import "../../bower_components/singularity/stylesheets/singularitygs";


body {
  margin: 0;
  min-width: 320px;
  background: white;
  color: black;
  position: relative;
}

* {
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

.container__space-between{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.container__center{
  display: flex;
  text-align: center;
  justify-content: center;
}

//mixins
.fz63{
  font-size: 63px;
  @include responsive(tablet){
    font-size: 49px;
  }
}

.fz35{
  font-size: 35px;

  @include responsive(tablet){
    font-size: 30px;
  }
}

.color-font-black{
  color: $color-font-black;
}

.color-font-darkgrey{
  color: $color-font-darkgray;
}


//HEADER
.header{
  background: url("../img/lettering-portfolio.png") no-repeat 50% 50%,
  url("../img/back-top.jpg") no-repeat;
  background-size: auto, cover;
  min-height: 650px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@import "socials";
@import "nav";
@import "avatar";
@import "triangles";


//MAIN
@import "main__works";
@import "main__blog";
@import "main__about";
@import "welcome";


//FOOTER
@import "footer";

