@import "fonts";
@import "colors";
@import "socials";
@import "media-breakpoints";

body {
  margin: 0;
  min-width: 320px;
  background: white;
  color: black;
  position: relative;
}

* {
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

.has-error{
  box-shadow: inset 0px 0px 0px 2px rgba(255,0,0,1);
}

a{
  color:inherit;
  display: block;
}

@import "preloader";

//mixins
.section-name__title {
  display: inline-block;
  font-family: 'BernierRegularRegular';
  padding: 40px 0;
  position: relative;
  margin: 0 40px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.2;
    width: 22px;
    height: 5px;
    background: $color-font-black;
  }

  &:before {
    margin-left: -40px;
    left: 0;
  }

  &:after {
    right: 0;
    margin-right: -40px;
  }
}

.fz63{
  font-size: 63px;
  @include responsive(tablet){
    font-size: 49px;
  }

  @include responsive(mobile){
    font-size: 35px;
    line-height: 45px;
  }

}

.fz35{
  font-size: 35px;

  @include responsive(tablet){
    font-size: 30px;
    padding:20px 0;
  }
}

.color-font-black{
  color: $color-font-black;
}

.color-font-darkgrey{
  color: $color-font-darkgray;
}


//HEADER
@import "header";
@import "socials";
@import "nav";
@import "avatar";
@import "triangles";


//MAIN
@import "main__works";
@import "main__blog";
@import "main__about";
@import "welcome";
@import "error";
@import "admin";



//FOOTER
@import "footer";


//POP-UP
@import "pop-up";
