$color-milk-back: #faf8f0;
$color-gray-back: #f0efe9;
$color-coffee-back: #efebe0;
$color-about-left-back: #efeee9;
$color-about-right-back: #eeebdf;
$color-font-header: #ffffff;
$color-font-black: #373e42;
$color-font-white: #ffffff;
$color-font-darkgray: #455a64;
$color-green: #00bfa5;
$slider-overlay: #b6b4ae;
$slider-overlay-oposite: #888372;
