@import "colors";

.footer{
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color-font-black, 0.85);
  color: $color-font-white;
  font-size: 16px;
  font-family:RobotoLight;

  @include responsive(mobile){
    font-size: 14px;
  }
}

.nav-and-social_footer{
  font-family:RobotoMedium;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(tablet){
    //flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

}

.footer__nav__item{
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
  
  & a{
    color: $color-font-white;
    text-decoration: none;
  }

  @include responsive(mobile) {
    margin: 10px;
  }
}

.social__footer{
  margin-right:0;

  @include responsive(tablet){
    text-align: center;
  }
}

.social__item-footer{
  border-radius:50%;
  border: 1px solid $color-font-white;
  margin-left: 10px;
  &:hover{
    background: $color-font-white;

    color: rgba($color-font-black, 0.85);
  }

  &:first-child{
    @include responsive(tablet){
      margin-left:-10px;
    }
  }


}

.footer__desc {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba($color-font-white, 0.1);
  padding: 20px 30px 15px;
  color: rgba($color-font-white, 0.5);

  @include responsive(tablet){
    display: block;
    text-align: center;
  }

  @include responsive(mobile){
    padding: 15px 5px 10px;
  }
}

.footer__desc__from{
  max-width:500px;
  display: inline-block;
  text-align: left;
  line-height: 22px;

  @include responsive(tablet){
    text-align: center;
  }
}

.footer__desc__copyright{
  vertical-align: middle;
  line-height:25px;
  padding: 10px 0 0;
}