.header{
  //min-height: 650px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 130vh;
  text-align: center;

  img {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
}

.header__bg-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  img {
    display: inline-block;
    max-width: 100%;
  }
}

.social-and-nav{
  z-index: 10;
  display: flex;
  text-align: center;
  justify-content: space-between;
}


.avatar-wrapper{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}