@import "fonts";
@import "colors";
@import "media-breakpoints";


.main__works{
  font-size: 16px;
  @include responsive(tablet){
    font-size: 14px;
  }
}

.section-name {
  text-align: center;
  background: $color-milk-back url("../img/lettering-works.png") 50% 50% no-repeat;
  background-size: auto;
  padding-bottom: 30px;
}

@import "slider-cool";

.opinions{
  background: url("../img/back-bottom.jpg") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding-bottom: $footHeight-l;

  @include responsive(tablet){
    padding-bottom: $footHeight-m;
  }

  @include responsive(mobile){
    padding-bottom: $footHeight-s;
  }

}

.opinions__section-name{
  background: url("../img/lettering-about.png") 50% 30px no-repeat;
  background-size: auto;
  max-width: 600px;
  text-align: center;
  display: inline-block;
  padding: 20px;
  line-height:64px;

  @include responsive(mobile){
    margin-bottom: -40px;
  }
}

.quotes{
  display: flex;
  justify-content: center;
  font-family:RobotoRegular;
  margin-bottom:60px;

  @include responsive(tablet){
    margin-bottom:50px;
  }

  @include responsive(mobile){
    flex-wrap: wrap;
    margin-bottom:20px;
  }
}

.quote{
  width: 380px;
  text-align: left;
  margin: 20px;
  
  @include responsive(mobile){
    margin: 20px 10px;
  }
}

.quote__sign{
  opacity: .2;
}

.quote__text{
  margin: 25px auto;
  text-align: left;
  hyphens: none;
  word-wrap: normal;
  line-height: 25px;

  @include responsive(mobile){
    margin-top:10px;
  }
}

.quote__author{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.quote__author__ava {
  border-radius: 50% 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.quote__author__desc{
  margin-left: 20px;
  color: #20b5a1;
  line-height: 25px;
}

.quote__author__name{
  font-family:RobotoBold;
}


.contact-us {
  padding: 0 10px;


  &__wrapper {
    max-width: 380px;
    width: 100%;
    display: block;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before{
      background: url("../img/back-bottom.jpg") 50% 50% no-repeat;
      content: '';
      background-size: 1710px 1307px;
      margin-top: -327px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(10px);
      z-index: -1;

      @include responsive(tablet){
        margin-top: -196px;
      }
      @include responsive(mobile){
        margin-top: -327px;
        background-size: 1900px 1463px;
      }
    }
  }
}

.contact-us__form__item {
  padding: 10px 20px;

  &:first-child{
    padding-top: 0;
  }

  &:last-child{
    padding-bottom: 20px;
  }

  &  input, & textarea {
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    color: $color-font-black;
    border: none;
    font-family: RobotoRegular;


    &[placeholder] {
      color: rgba($color-font-black, 0.5);
      padding: 10px 20px;
    }
  }

  & textarea{
    resize: none;
    line-height: 20px;
  }
}

.contact-us__btns{
  font-size: 0;
}

.contact-us__btn{
  
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  border: none;
  margin: 0;
  padding: 0;
  height: 45px;
  background: rgba($color-green, 0.3);
  color: $color-font-white;
  font-family:RobotoMedium;
  cursor: pointer;
  font-size: 16px;
  transition: .4s ease-in-out;

  @include responsive(tablet){
    font-size: 14px;
  }

  &:hover{
    background: rgba($color-green, 0.7);
  }

  &:disabled{
    cursor: default;
    background: rgba($color-green, 0.2);
  }

  &:first-child{
    border-right: 1px solid rgba($color-font-white, .5);
  }

  &:last-child{
    border-left: 1px solid rgba($color-font-white, .5);
  }
}

.angle-up{
  display: block;
  color: white;
  opacity: .7;
  font-size: 50px;
  text-align: center;
  margin: 30px;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}