@import "fonts";
@import "colors";

.section-name {
  display: block;

  text-align: center;
  background: $color-milk-back url("../img/lettering-works.png") 50% 50% no-repeat;
  background-size: auto;

  .section-name__title {
    display: inline-block;
    font-family: 'BernierRegularRegular';
    padding: 70px 0;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      opacity: 0.2;
      width: 22px;
      height: 5px;
      background: $color-font-black;
    }

    &:before {
      margin-left: -40px;
      left: 0;
    }

    &:after {
      right: 0;
      margin-right: -40px;
    }


  }
}

.fz63{
  font-size: 63px;
}

.fz35{
  font-size: 35px;
}

.color-font-black{
  color: $color-font-black;
}

.color-font-darkgrey{
  color: $color-font-darkgray;
}

.work{
  display: block;
  //display: flex;
  //justify-content: center;
  height: 750px;
}

.work__desc{
  display: block;
  height: 100%;
  background: $color-gray-back;
  width: 50%;
  text-align: center;


}

.work__desc__wrapper{
  display: block;
  width: 420px;
  background: yellow;
  height: 100%;
}

.work__list{
  background: $color-coffee-back;
  width: 50%;
  text-align: center;
}
