@import "colors";

.main__blog{
  margin-top:35px;
  padding-bottom: 140px;
  display: flex;
  justify-content: center;
  font-family:RobotoRegular;
  font-size: 16px;
  color: $color-font-darkgray;
  position: relative;

}

.sidebar{
  flex: 30%;
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;

  @include responsive(tablet){
    height: 100vh;
    position: fixed;
    left: -288px;
    width: 285px;
    background: $color-green;
    color: rgba($color-font-white, 0.7);
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);

    &-open{
      left: 0;
    }
  }

}

.sidebar__list{
  margin: 45px;
  width: 270px;
  text-align: right;

  @include responsive(tablet){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

[class^= 'swipe'] {
  @include responsive(tablet) {

    border-radius: 50%;
    background-color: rgb(0, 191, 165);
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: -51px;
    top: 50vh;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    z-index: 4;
  }
}

.swipe-overlay{
  cursor: pointer;
  z-index: 6;
  box-shadow: none;
}

.swipe-open{
  left: 237px;
}

.sidebar__item{
  padding: 20px;

  &.active{
    font-family:RobotoBold;
    color: $color-green;
    border-right: 3px solid $color-green;

    @include responsive(tablet){
      color:$color-font-white;
      border-right: none;
    }
  }
}



.articles{
  flex:70%;

  @include responsive(tablet){
    flex: 100%;
    margin: 25px;
  }
}

.article{
  width: 70%;
  margin: 45px 0;

  @include responsive(tablet) {
    width: 100%;
  }
}

.article__title{
  font-family:BernierRegularRegular;
  font-size: 35px;

}

.article__date{
  color: #00bfa5;
  opacity: .7;
  margin-top: 15px;
}
