@import "fonts";
@import "colors";
@import "media-breakpoints";


.main__works{
  font-size: 16px;
  @include responsive(tablet){
    font-size: 14px;
  }
}

.section-name {
  text-align: center;
  background: $color-milk-back url("../img/lettering-works.png") 50% 50% no-repeat;
  background-size: auto;
  padding-bottom: 30px;
}

.work{
  display: flex;
  flex-direction: column;
  height: calc(225px + 525px);
  flex-wrap: wrap;

  @include responsive(tablet){
    height: auto;
  }
}

.work__desc{
  flex: 100%;
  width: 50%;
  background: $color-gray-back;
  padding: 0 auto;
  display: flex;
  align-items: center;
  font-family:RobotoMedium;

  @include responsive(tablet){
    order:2;
    width: 100%;
  }
}

.work__desc__skills{
  display: block;
  color: $color-green;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
  max-width: 420px;
  text-align: center;
  border-opacity:0.3;
  border-top: solid 2px rgba($color-green, 0.3);
  border-bottom: solid 2px rgba($color-green, 0.3);
}

.work__desc__wrapper{
  display: block;
  max-width: 420px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
}

.work__desc__button{
  display: inline-block;
  border-radius: 5px;
  background-color: $color-green;
  padding: 15px 20px;
  width: 200px;
  margin: 40px;
  color: $color-font-white;
  text-decoration: none;

}

.work__desc__button__text{
  font-family:RobotoMedium;
  padding-left: 10px;
}

.slider__big{
  //height: 525px;
  background: $color-coffee-back;
  flex: percentage(525/750);
  width: 50%;
  //flex: 70%;

  @include responsive(tablet) {
    order: 1;
    width: 100%;
    height: 532px;
  }

  @include responsive(mobile){
    height: 257px;
  }
}

.slider__display__big{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.slider__smalls{
  width: 50%;
  display: flex;
  flex: percentage(225/750);
  //height: 225px;

  @include responsive(tablet) {
    width: 100%;
    order:3;
    height: 216px;
  }

  @include responsive(mobile){
    height: 94px;
  }
}

.slider__small{
  //display: block;
  position: relative;
  width: 50%;
  height:100%;
  display: inline-block;
  //background-color: blue;

}

.slider__display__small{
  overflow: hidden;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  &:after{
    content: '';
    background: $slider-overlay;
    opacity: 0.5;
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    //z-index: 1;
  }

}

.slider__small-oposite .slider__display__small{

  &:after{
    background: $slider-overlay-oposite;
    opacity: 0.7;
  }

}


.slider__small-oposite{
  //display: block;
  //height: 100%;
  flex: 50%;
  position: relative;
  //display: inline-block;
}

[class^= 'slider__arrow-']{
  font-size: 70px;
  font-weight:bold;
  color: $color-font-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

[class^= 'slider__list']{

  position: relative;
}

[class^= 'slider__item']{
  position: relative;
  width: 100%;
  height: 100%;
  //display: block;
}

[class^= 'slider__item'] img {
  position: absolute;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;
  transform: translateY(100%);
  //background: yellow;
  //max-width:100%;
  max-height:100%;
}

[class^= 'slider__item'].active img{
  transform: translateY(0%);
  //background: yellow;
  //max-width:100%;
  max-height: 100%;

}

.opinions{
  background: url("../img/back-bottom.jpg") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding-bottom: $footHeight-l;

  @include responsive(tablet){
    padding-bottom: $footHeight-m;
  }

  @include responsive(mobile){
    padding-bottom: $footHeight-s;
  }

}

.opinions__section-name{
  background: url("../img/lettering-about.png") 50% 30px no-repeat;
  background-size: auto;
  max-width: 600px;
  text-align: center;
  display: inline-block;
  padding: 20px;
  line-height:64px;

  @include responsive(mobile){
    margin-bottom: -40px;
  }
}

.quotes{
  display: flex;
  justify-content: center;
  font-family:RobotoRegular;
  margin-bottom:60px;

  @include responsive(tablet){
    margin-bottom:50px;
  }

  @include responsive(mobile){
    flex-wrap: wrap;
    margin-bottom:20px;
  }
}

.quote{
  width: 380px;
  text-align: left;
  margin: 20px;
  
  @include responsive(mobile){
    margin: 20px 10px;
  }
}

.quote__sign{
  opacity: .2;
}

.quote__text{
  margin: 25px auto;
  text-align: left;
  hyphens: none;
  word-wrap: normal;
  line-height: 25px;

  @include responsive(mobile){
    margin-top:10px;
  }
}

.quote__author{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.quote__author__ava {
  border-radius: 50% 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.quote__author__desc{
  margin-left: 20px;
  color: #20b5a1;
  line-height: 25px;
}

.quote__author__name{
  font-family:RobotoBold;
}


.contact-us {
  padding: 0 10px;


  &__wrapper {
    max-width: 380px;
    width: 100%;
    display: block;
    width: auto;
    //background: rgba(255, 255, 2555, 0.5);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before{
      background: url("../img/back-bottom.jpg") 50% 50% no-repeat;
      content: '';
      background-size: 1710px 1307px;
      margin-top: -327px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(10px);
      z-index: -1;

      @include responsive(tablet){
        margin-top: -196px;
      }
      @include responsive(mobile){
        margin-top: -327px;
        background-size: 1900px 1463px;
      }
    }
  }
}

.contact-us__form__item {
  padding: 10px 20px;

  &:first-child{
    padding-top: 0;
  }

  &:last-child{
    padding-bottom: 20px;
  }

  &  input, & textarea {
    width: 100%;
    line-height: 43px;
    border-radius: 5px;
    color: $color-font-black;
    border: none;
    font-family: RobotoRegular;


    &[placeholder] {
      color: rgba($color-font-black, 0.5);
      padding-left: 20px;
    }
  }

  & textarea{
    resize: none;
  }
}

.contact-us__btns{
  font-size: 0;
}

.contact-us__btn{
  
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  border: none;
  margin: 0;
  padding: 0;
  height: 45px;
  background: rgba($color-green, 0.3);
  color: $color-font-white;
  font-family:RobotoMedium;
  cursor: pointer;
  font-size: 16px;
  transition: .5s ease-in-out;

  @include responsive(tablet){
    font-size: 14px;
  }

  &:hover{
    background: rgba($color-green, 0.7);
  }

  &:first-child{
    border-right: 1px solid rgba($color-font-white, .5);
  }

  &:last-child{
    border-left: 1px solid rgba($color-font-white, .5);
  }
}

.angle-up{
  display: block;
  color: white;
  opacity: .7;
  font-size: 50px;
  text-align: center;
  margin: 30px;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}