@import "colors";

.main__blog{
  margin-top:35px;
  display: flex;
  justify-content: center;
  font-family:RobotoRegular;
  font-size: 16px;
  color: $color-font-darkgray;
  position: relative;
  padding-left: 30%;
  padding-bottom: $footHeight-l;

  @include responsive(tablet){
    padding-bottom: $footHeight-m;
    padding-left: 0;

  }

  @include responsive(mobile){
    padding-bottom: $footHeight-s;
  }

}

.sidebar{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  &-wrapper{
    position: relative;
    z-index: 5;

    @include responsive(tablet) {
      background: $color-green;
      color: rgba($color-font-white, 0.7);
      box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &-fixed{
    position: fixed;
    top: 0;
  }

  &-bottom{
    position: absolute;
  }

  @include responsive(tablet){
    //position: fixed;
    left: -288px;
    width: 285px;
    transition: left .5s ease-in-out;

    &-open{
      left: 0;
    }
  }

}

.sidebar__list{
  margin: 45px;
  width: 270px;
  text-align: right;

  @include responsive(tablet){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

[class^= 'swipe'] {
  @include responsive(tablet) {
    border-radius: 50%;
    background-color: rgb(0, 191, 165);
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border: 3px solid transparent;
    border-radius: 50%;
    position: absolute;
    right: -9px;
    top: 50vh;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    z-index: 1;
    cursor: pointer;

  }
}

.swipe-overlay{
  z-index: 6;
  box-shadow: none;
  border-radius: 0;
  width: 51px;
  height: 66px;
  right: 0px;
}

.swipe-open{
  //left: 237px;
}

a{
  text-decoration: none;
}

.sidebar__item{
  padding: 20px;

  & a{
    color: $color-font-darkgray;

    &:hover{
      color: $color-green;

      @include responsive(tablet){
        color: $color-coffee-back;
      }
    }
  }

  &-active{
    border-right: 3px solid $color-green;

    & a{
      font-family:RobotoBold;
      color: $color-green;
      border: none;

      @include responsive(tablet){
        color:$color-font-white;
      }
    }

    @include responsive(tablet){
      border-right: none;
    }
  }
}



.articles{
  flex:70%;

  @include responsive(tablet){
    flex: 100%;
    margin: 25px;
  }
}

.article{
  width: 70%;
  margin: 45px 0;

  @include responsive(tablet) {
    width: 100%;
  }
}

.article__title{
  font-family:BernierRegularRegular;
  font-size: 35px;

}

.article__date{
  color: #00bfa5;
  opacity: .7;
  margin-top: 15px;
}
