.who-and-skills{
  display: flex;
  font-family:RobotoRegular;
  font-size: 16px;
  flex-wrap: wrap;

  @include responsive(tablet){
    font-size: 14px;
  }

}

.who{
  flex: 50%;
  background: $color-about-left-back;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  @include responsive(tablet){
    flex:100%;
  }
}

.who__title{
  flex:50%;
  text-align: center;
  background: url("../img/lettering-about.png") 50% 0 no-repeat;
  background-size: auto;

  @include responsive(laptop){
    flex:100%;
    padding: 10px;
  }
}

.who__desc{
  flex:50%;
  padding:20px;
  margin: 0 auto;
  max-width: 480px;

  @include responsive(laptop){
    flex:100%;
    max-width: 460px;
    padding: 10px;
  }

  @include responsive(tablet){
    max-width: 490px;
  }
}

.who__desc__img{
  margin: 10px auto;
  width: 100%;
  height: auto;
  overflow: hidden;
  & img{
    width: 100%;
  }


}

.who__desc__title{
  text-align: center;
}

.who__desc__text{
  text-align: left;
  width: 100%;
  margin: 10px auto;

}

//
//
.wrap {
  width: 60%;
  height: 100px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #00bfa5;
  fill-opacity: 0.5;
}

.icon:hover {
  fill-opacity: 1;
}
.svg-github_round-dims {
  width: 50px;
  height: 50px;
}

.svg-in_round-dims {
  width: 50px;
  height: 50px;
}

.svg-vk_round-dims {
  width: 50px;
  height: 50px;
}


//
//

.skills{
  flex: 50%;
  background: $color-about-right-back;
  padding:20px;
  text-align: left;

  @include responsive(tablet){
    flex: 100%;
    text-align: center;

  }
}

.skills__title{
  text-align: center;
}

.skills__desc{
  @include responsive(tablet){
    max-width: 470px;
    text-align: left;
    margin: 0 auto;
  }
}

.skill__div{
  display: block;
  margin: 30px 0;
}

.skill__div__title{
  color: $color-font-darkgray;
  font-family:RobotoMedium;
  font-size: 28px;
  margin-bottom:20px;

  @include responsive(tablet){
    font-size: 21px;
  }
}

.skill__div__list{
  margin-left:-15px;

  @include responsive(tablet){
    margin-left: 0;
  }
}

.skill__div__item{
  display: inline-block;
  position: relative;
  margin: 15px;

  @include responsive(mobile){
    margin: 10px;
  }
}

.skill__div__item span {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-contact{
  height: calc(100vh + #{$footHeight-l});
  //background: url(../img/map.png) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: $footHeight-l;
  position: relative;

  @include responsive(tablet){
    height: calc(100vh + #{$footHeight-m});
    padding-bottom: $footHeight-m;
  }

  @include responsive(mobile){
    height: calc(100vh + #{$footHeight-s});
    padding-bottom: $footHeight-s;
    align-items: flex-start;
  }
}

.map{
  z-index: 20;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts{
  z-index:30;
  border-radius: 5px;
  background-color: rgba(252, 252, 252, 0.85);
  width: 380px;
  //height: 290px;
  text-align: center;
  color: $color-font-darkgray;
  padding: 0 30px;


  @include responsive(tablet){
    width: 350px;
    margin-bottom: $footHeight-m;

  }

  @include responsive(mobile){
    width: 100%;
    border-radius: 0;
    margin-bottom: $footHeight-s;
  }
}

.contacts__list{
  text-align: left;

  @include responsive(mobile){
    width: 300px;
    margin: 0 auto;
  }
}

.contacts__item {
  margin: 10px 0 30px;
  font-size: 16px;
  font-family: RobotoMedium;
  color: $color-green;

  & i.fa {
    font-size: 24px;
    width: 24px;
    text-align: center;
    margin: 0 10px;
  }

}