$break-s: 768px;
$break-m: 992px;
$break-l: 1200px;

@mixin responsive($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-s) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $break-m) {
      @content;
    }
  }
  @else if $media == laptop {
    @media only screen and (max-width: $break-l) {
      @content;
    }
  }
}

$footHeight-l: 146px;
$footHeight-m: 239px;
$footHeight-s: 254px;