$color-main: #13bda7;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 30px;
$button-width: 30px;

.button_container {
  display: inline-block;
  margin: 10px 20px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  opacity: .5;

  @include responsive(mobile){
    margin: 5px 15px;
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    position: fixed;
    right: 0;
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: $color-active;
    border: none;
    height: 3px;
    //width: 100%;
    width: $button-width;
    //position: absolute;
    //top: 0;
    //left: 0;
    display: block;
    margin-top: 8px;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.hide-scroll{
  overflow-y: hidden;
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index:90;

  &.open {
    opacity: .9;
    visibility: visible;
    min-height: 100vh;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 63px;
    font-family: 'BernierRegularRegular', serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after,
        &:hover:before,
        &:focus:before,
        &:active:before {
          width: 22px;
          opacity: 1;
        }

        &:after,
        &:before{
          @include responsive(tablet){
            display: none;
          }

          content: '';
          position: absolute;
          bottom: 50%;
          //margin-top: -50%;
          width: 0;
          opacity: 0;
          height: 5px;
          background: $color-link;
          transition: .5s;
        }

        &:before{
          margin-left: -52px;
          left: 0;
        }

        &:after{
          right: 0;
          margin-right: -52px;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}