.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: $color-green url('../img/bg-green.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.preloader__spinner {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__animation {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top: 3px solid #fff;
  position: relative;
  animation: spin 2s linear infinite;

  &:before, &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &:before {
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    border-right: 3px solid #fff;
    animation: spin 3s linear infinite;

  }

  &:after {
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-bottom: 3px solid #fff;
    animation: spin 1.5s linear infinite;
  }
}

.preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}