.work {
  display: flex;
  flex-direction: column;
  height: calc(225px + 525px);
  flex-wrap: wrap;

  @include responsive(tablet) {
    height: auto;
  }
}

.work__desc {
  flex: 100%;
  width: 50%;
  background: $color-gray-back;
  padding: 0 auto;
  display: flex;
  align-items: center;
  font-family: RobotoMedium;
  position: relative;

  @include responsive(tablet) {
    order: 2;
    width: 100%;
    min-height: 100%;
  }
}

.work__desc__skills {
  display: block;
  color: $color-green;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
  max-width: 420px;
  text-align: center;
  border-opacity: 0.3;
  border-top: solid 2px rgba($color-green, 0.3);
  border-bottom: solid 2px rgba($color-green, 0.3);
}

.work__desc__item {
  display: flex;
  max-width: 420px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  transform: translateY(-100%);
  min-height:auto;
  height: 100%;
}

.work__desc__button {
  display: inline-block;
  border-radius: 5px;
  background-color: $color-green;
  padding: 15px 20px;
  width: 200px;
  margin: 40px;
  color: $color-font-white;
  text-decoration: none;

}

.work__desc__button__text {
  font-family: RobotoMedium;
  padding-left: 10px;
}

.slider__big {
  //height: 525px;
  background: $color-coffee-back;
  flex: percentage(525/750);
  width: 50%;
  //flex: 70%;

  @include responsive(tablet) {
    order: 1;
    width: 100%;
    height: 532px;
  }

  @include responsive(mobile) {
    height: 257px;
  }
}

.slider__display__big {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.slider__smalls {
  width: 50%;
  display: flex;
  flex: percentage(225/750);
  //height: 225px;

  @include responsive(tablet) {
    width: 100%;
    order: 3;
    height: 216px;
  }

  @include responsive(mobile) {
    height: 94px;
  }
}

.slider__small {
  position: relative;
  width: 50%;
  height: 100%;
  display: inline-block;

}

.slider__display__small {
  overflow: hidden;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  &:after {
    content: '';

    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    //z-index: 1;
  }

}

.slider__display__small-reverse:after {
  background: $slider-overlay-oposite;
}

.slider__display__small-straight:after {
  background: $slider-overlay;
}

[class^= 'slider__arrow-'] {
  font-size: 70px;
  font-weight: bold;
  color: $color-font-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  & i {
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

[class^= 'slider__list'], .work__desc__list {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .5s ease-in-out;
}

[class^= 'slider__item'] {
  width: 100%;
  height: 100%;
  display: block;
  transform: translateY(-100%);
  padding: 5%;
}

[class^= 'slider__item'] img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}
