@import "media-breakpoints";


.social {
  margin: 10px 15px;
  text-align: left;

  @include responsive(mobile){
    margin: 10px 5px;
  }
}

.social__footer{
  display: inline-block;
}

.social__list{
  font-size: 0;
}

.social__item {

  font-size: 22px;
  display: inline-block;
  opacity: .5;
  width: 36px;
  height: 36px;
  cursor: pointer;
  line-height: 36px;
  text-align: center;

  &:hover {
    opacity: 1;
  }

  &-top{
    @include responsive(mobile){
      font-size: 25px;
      width: 50px;
      height: 50px;
    }
  }
}