.welcome-fullscreen{
  height:100vh;
}

.welcome{
  height:100vh;
  width: 100%;
  background: url(../img/back.jpg) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($color-font-darkgray, .8);
  //position: relative;
  padding-bottom:270px;
  padding-top: 300px;

  @include responsive(mobile){
    padding-top: 250px;
    //padding-bottom:290px;
  }

}

.welcome__wrapper{
  perspective: 1000px;
  width: 380px;
  height: 395px;
  display: block;

  @include responsive(tablet){
    width: 350px;
  }
  @include responsive(mobile){
    width: 300px;
  }


}

.welcome__menu {
  transition: 0.6s;
  transform-style: preserve-3d;

  text-align: center;

  position: relative;
  width: 100%;
  height: 100%;
}

.avatar__name-welcome{
  font-size: 28px;

  @include responsive(mobile){
    font-size: 21px;
  }
}

.avatar__description{
  font-size:16px;

  @include responsive(mobile){
    font-size: 14px;
  }
}

.welcome__menu-frontside, .welcome__menu-backside{
  position: absolute;
  top:0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 252, 0.85);
  width: 100%;
  height: 100%;
  padding:40px;
  overflow: hidden;
}

.welcome__menu-frontside{
  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.welcome__menu-backside{
  padding: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}

.auth__title .section-name__title{
  padding: 30px 0 25px;
}

.welcome__nav, .auth__btns{
  font-family:RobotoMedium;
  font-size: 16px;
  color: $color-font-white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

}

.welcome__nav{
  &.contact-us__btn {
    display: inline-block;
    max-width: 100%;

    & a {
      vertical-align: middle;
      line-height: 50px;
    }
  }
}

.welcome .contact-us__btn{
  background: $button-green;

  &:hover, &:active{
    background: $button-green-active;
  }
}

.social__welcome{
  margin-top: 30px;
  text-align: center;

  & li.social__item-footer{
    border: none;
    font-size: 24 px;

    &:hover{
      background: transparent;
    }

  }
}

.nav__list-welcome{
  display: flex;
  justify-content:space-around;
}

.nav__item-welcome{
  //width: auto;
  vertical-align: middle;
  line-height: 45px;
}


.nav__item-welcome a{
  color: $color-font-white;
  text-decoration: none;
  //width:100%;
  //height: 100%;
  display: block;
}

.nav__item-welcome.contact-us__btn{
}

.auth__form{
  padding: 0 20px;
}

.auth__form__item{
  position: relative;
  overflow: hidden;
}

.form__item input{
  width:100%;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;

  color: $color-font-black;
  border: none;
  font-family: RobotoRegular;

  &[placeholder] {
    color: rgba($color-font-black, 0.5);
    padding-left: 20px;
  }
}

.auth__form__item input {
  margin: 10px 0px;
  position: relative;

  &[placeholder] {
    padding-left: 65px;
  }
}

.auth__form__item:after{
    font-family:FontAwesome;
    background: $color-gray-back;
    width: 45px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 10px;
    line-height: 45px;
}

.auth__form__item-login:after{
    content:'\f007';
  }

.auth__form__item-password:after{
    content:'\f084';
  }


.auth__human{
  margin: 10px;
}

.auth__bot-check{
  margin: 20px 10px 10px;

  &__desc{
    font-family:RobotoMedium;
  }

  &__item{
    display: inline-block;
    margin: 10px;
  }
}




.auth__btns{
  display: flex;
  justify-content:space-around;
}

.auth__toggle-btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 178px;
  height: 43px;
  background: transparent;
  color: $color-font-white;
  cursor: pointer;

  @include responsive(mobile){
    right: 50%;
    transform: translateX(50%);
    top:10px;
  }
}

input[type=checkbox],
input[type=radio]
{
  vertical-align: top;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(182, 182, 182);
  border-radius: 2px;
  box-shadow: none;
  position: relative;
}

input[type=radio]{
  border-radius: 50%;
}



input[type=checkbox]:after,
input[type=radio]:after{
  content: "";
  background-color: white;
  display: inline-block;
  visibility: visible;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid $color-green;
  vertical-align: middle;
  border-radius: 2px;
  margin: 0 15px 0 0;
  top: -2px;
  left:-2px;
  box-shadow: none;
  cursor: pointer;
}

input[type=radio]:after {

  color: $color-green;
  background-color: $color-font-white;
  line-height: 18px;
  border-radius: 50%;
  border: 1px solid $color-green;
  width: 18px;
  height: 18px;
}

input[type=checkbox]:checked:after,
input[type=radio]:checked:after{
  content: "ï€Œ";
  font-size: 14px;
  font-family: "FontAwesome";
  color: white;
  background-color: $color-green;
  text-align: center;
  width: 20px;
  height: 20px;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.4;
}

input[type=radio]:checked:after {
  border-radius: 50%;
  content: "\f111";
  font-family: "FontAwesome";
  color: $color-green;
  background-color: $color-font-white;
  font-size: 9px;
  line-height: 18px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  border: 1px solid $color-green;

}

input[type=checkbox]:checked+label,
input[type=radio]:checked+label{
  color: $color-green;
}

footer.footer.footer-welcome{
  background: transparent;
  height: 55px;
  @include responsive(mobile){
    height:80px;
    font-size: 14px;
  }
}

.footer__desc.footer__desc-welcome{
  border: none;
  padding-bottom: 0;
}

.footer__desc__copyright-welcome.footer__desc__copyright {
  margin: 0 auto;
  & [class^= 'footer__desc-welcome-']{
    display: inline;

    @include responsive(mobile){
      display: block;
      text-align: center;
      line-height:25px;
    }
  }
}

.hide-mobile {
  @include responsive(mobile){
    display: none;
  }
}