//
   Created by Alexey on 27-Sep-16.
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width')
        link(href='/css/main.css', rel='stylesheet')
        link(href='/css/normalize.css', rel='stylesheet')
        title Main page
    body
        .container
            header.header
                .social
                    .avatar__picture
            .avatar
                .avatar__name Alexey Nelipovich
                    block .avatar__description
                        .avatar__description Web developer. Personal website
                nav.nav
                    ul.nav__list
                        li.nav__item
            main.main

        footer.footer
            .conteiner
                .footer__codntent © Alexey Nelipovich | All rights reserved