extends ../layout
block variables
    - var title = 'Blog'
    - var tringlesColor = 'blog'
block content
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js' defer)
    include ../_includes/main__blog
